
.email-icon {
    font-size: 2.5em;
    color: #8e44ad;
    margin-bottom: 20px;
}
.email-verification-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* fond transparent sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.email-verification-modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.email-verification-modal h2 {
  font-size: 1.8rem;
  color: #4c1d95;
  margin-bottom: 1rem;
}

.email-verification-modal p {
  color: #444;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.email-verification-modal b {
  color: #7c3aed;
}

.return-to-site-button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.mail-link {
  color: #7c3aed;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;

}

.mail-link:hover {
  color: #5b21b6;
}

.return-to-site-button:hover {
  background-color: #5b21b6;
}

.contact-info {
  font-size: 0.85rem;
  color: #777;
  margin-top: 1.2rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

